<!--
 * @Version 
 * @Author ZhenYuTsai
 * @Descripttion 
 * @Date 2021-07-06 12:25:00
-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>@-@title</title>
<link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../assets/lib/bootstrap-3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/base.css">
<script src="../assets/lib/jquery/jquery-1.7.1.js"></script>
<script src="../assets/lib/bootstrap-3.4.1/js/bootstrap.min.js"></script>
<script src="../assets/lib/art-template-web/template-web.js"></script>
